.SuspenseRectsContainer {
  padding: .25rem;
  cursor: pointer;
  outline: 1px solid var(--color-component-name);
  border-radius: 0.25rem;
}

.SuspenseRectsContainer[data-highlighted='true'] {
  background: var(--color-dimmest);
}

.SuspenseRectsViewBox {
  position: relative;
}

.SuspenseRectsBoundary {
  pointer-events: all;
}

.SuspenseRectsBoundaryChildren {
  pointer-events: none;
<<<<<<< HEAD
  /**
   * So that the shadow of Boundaries within is clipped off.
   * Otherwise it would look like this boundary is further elevated.
   */
   overflow: hidden;
=======
}

.SuspenseRectsTitle {
  pointer-events: none;
  color: color-mix(in srgb, var(--color-suspense) 50%, var(--color-text));
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-sans-small);
  line-height: var(--line-height-data);
  padding: 0 .25rem;
  container-type: size;
  container-name: title;
}

@container title (width < 30px) or (height < 18px) {
  .SuspenseRectsTitle > span {
    display: none;
  }
>>>>>>> 031595d720 ([DevTools] Title color tweak (#34927))
}

.SuspenseRectsScaledRect[data-visible='false'] > .SuspenseRectsBoundaryChildren {
  overflow: initial;
}

.SuspenseRectsRect {
  box-shadow: var(--elevation-4);
  pointer-events: all;
  outline-style: solid;
  outline-width: 1px;
  border-radius: 0.125rem;
  cursor: pointer;
}

.SuspenseRectsScaledRect {
  position: absolute;
  outline-color: var(--color-background-selected);
}

.SuspenseRectsScaledRect[data-visible='false'] {
  pointer-events: none;
  outline-width: 0;
}

/* highlight this boundary */
.SuspenseRectsBoundary:hover:not(:has(.SuspenseRectsBoundary:hover)) > .SuspenseRectsRect, .SuspenseRectsBoundary[data-highlighted='true'] > .SuspenseRectsRect {
  background-color: var(--color-background-hover);
}

.SuspenseRectsRect[data-highlighted='true'] {
  background-color: var(--color-selected-tree-highlight-active);
}
